* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background-color: rgb(210, 210, 158);
}

.coming_soon {
    position: absolute;
    width: 15%;
    height: 100vh;
    left: 30px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.coming_soon h1 {
    font-size: 50px;
    font-family: "Londrina Outline", sans-serif;
    color: inherit;
    text-align: center;
}

.bigger_screen_img {
    display: flex ;
    width: 100%;
    height: 100vh;
    margin: 0;
}

.smaller_screen_img {
    display: none;
}

@media only screen and (max-width: 1000px) {
    /* Hide the larger image on smaller screens */

    .coming_soon {
        display: none;
    }

   .bigger_screen_img {
    display: none;
   }

    /* Show the smaller image on smaller screens */
   .smaller_screen_img {
        display: block;
        width: 100%;
        height: auto;
    }
}

@media only screen and (max-height: 600px) {
    .bigger_screen_img {
        height: 100%;
    }
}